body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid red;
}

#left {
    white-space: nowrap;
    height: 100%;
    padding: 10px 0 0 0;
}

#main {
    overflow: auto;
    height: 100%;
    padding: 0;
}

/*div[class*='col-md-'],*/
/*#left, #main, #player-wrapper, #playlist {*/
    /*border: 1px dotted #000;*/
    /*border-collapse: collapse;*/
/*}*/


/*********************************** TREE ***********************************/
ul.tree,
ul.tree ul{
    padding-left: 20px;
    list-style-type: none;
}

ul.tree li {
    cursor: default;
}

.tree-label {
    padding: 1px 4px;
    border: 1px solid transparent;
}

.tree-label.selected {
    background: #eee;
    border: 1px solid #ccc;
}

.tree a {
    cursor: pointer;
}
.tree .glyphicon {
    font-size: 12px;
}

.tree .glyphicon-plus {
    font-size: 9px;
    margin-left: -15px;
    padding-right: 5px;
    margin-top: -3px;
    vertical-align: middle;
    line-height: 18px;
}

.tree .glyphicon-folder-closed {
    line-height: 18px;
}

.tree .glyphicon-file {
    color: #777;
}

.collapsed ul {
    display: none;
}

.loading {
    font-size: 85%;
}

/************************************** PLAYER ******************************/
#player-wrapper {
    padding: 10px;
    height: 100%;
    cursor: default;
}

#player-controls {
}

#player-controls a {
    padding: 5px;
}

#player-controls i {
    font-size: 20px;
}

a.play, a.pause {
    display: none;
}

.playing a.pause {
    display: inline-block;
}

.paused a.play,
.stopped a.play {
    display: inline-block;
}

#volume {
    margin-top: 12px;
}
#volume .ui-slider {
    /*margin-top: 15px;*/
    /*border-radius: 2px;*/
}

#volume .ui-slider .ui-slider-handle {
    /*margin-top: -4px;*/
    /*width: 10px;*/
    /*height: 30px;*/
    /*border-radius: 1px;*/
}

#current-time {
    /*margin-top: 12px;*/
}
#current-time .ui-slider {
    /*margin-top: 18px;*/
    /*border-radius: 2px;*/
    /*height: 5px;*/
}

#current-time .ui-slider .ui-slider-handle {
    /*width: 8px;*/
    /*border-radius: 1px;*/
    /*display: none;*/
}

.playing #current-time .ui-slider .ui-slider-handle,
.paused #current-time .ui-slider .ui-slider-handle{
    display: inline;
}

/*#player.playing #current-time a.ui-slider-handle,*/
/*#player.paused #current-time a.ui-slider-handle{*/
    /*display: block;*/
/*}*/

/******************************** PLAYLIST *************************/
#playlist {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 60px;
    bottom: 10px;
    padding: 10px;
    background: #fefefe;
    overflow: auto;
}

#playlist ul {
    list-style-type: none;
    padding-left: 0;
    cursor: default;
    pointer-events: none;
}

#playlist ul.dragover {
    border-bottom: 2px dotted #000;
}

#playlist li {
    margin: 0 0 0 20px;
    border-top: 2px solid transparent;
    pointer-events: all;
}

#playlist li i {
    display: none;
    margin-left: -14px;
}

.playing #playlist li.current i.glyphicon-play {
    display: inline;
}

.paused #playlist li.current i.glyphicon-pause {
    display: inline;
}

#playlist li:nth-child(2n+1) {
    background-color: #F9F9F9;
}

#playlist li.selected {
    background: #eee;
}

#playlist li.current {
    font-weight: bold;
}

#playlist li span {
    pointer-events: none; /* do not fire dragenter/dragleave events on li's contents */
}

#playlist li.dragover{
    border-top: 2px dotted #000;
}
