<!doctype html>
<html>
<head>
    <script src="lib/jquery-1.11.0.min.js"></script>
    <script src="lib/jquery-ui-1.10.4.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>



    <script src="lib/slider.js"></script>

    <script src="js/tools.js"></script>
    <script src="js/app.js"></script>
    <script src="js/session.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/player.js"></script>
    <script src="js/playlist.js"></script>
    <script src="js/services.js"></script>
    <script src="js/resizebar.js"></script>

    <script src="views/player.html"></script>
    <script src="views/about.html"></script>

    <script src="https://apis.google.com/js/client.js?onload=bootstrap"></script>

    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/jquery-ui-1.10.4.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>

</head>
<body ng-controller="AppController" ng-class="{playing: !player.audio.paused, paused: player.audio.paused && player.currentRecord, stopped: !player.currentRecord}">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#/player">Brand</a>
        <ul class="nav navbar-nav">
            <li><a href="#/about">About</a></li>
            <li><a href="#/help">Help</a></li>
        </ul>
        <p id="controls" class="navbar-text navbar-left" ng-if="svc.authorized" ng-cloak>
            <a class="prev" title="previous" ng-click="player.prev()"><i class="glyphicon glyphicon-step-backward"></i></a>
            <a class="stop" title="stop" ng-click="player.stop()"><i class="glyphicon glyphicon-stop"></i></a>
            <a class="pause" title="pause" ng-click="player.playPause()"><i class="glyphicon glyphicon-pause"></i></a>
            <a class="play" title="play" ng-click="player.playPause()"><i class="glyphicon glyphicon-play"></i></a>
            <a class="next" title="next" ng-click="player.next()"><i class="glyphicon glyphicon-step-forward"></i></a>
        </p>
        <div id="track" ng-if="svc.authorized" ng-cloak ui-slider="{range: 'min'}" use-decimals min="0" max="{{player.audio.duration}}" step="0.01" ng-model="player.audio.currentTime"></div>
        <p id="controls2" class="navbar-text navbar-left" ng-if="svc.authorized" ng-cloak>
            <a title="mute" ng-click="player.mute()"><i class="glyphicon" ng-class="{'glyphicon-volume-up': !player.audio.muted, 'glyphicon-volume-off': player.audio.muted}"></i></a>
        </p>
        <div id="volume" ng-if="svc.authorized" ui-slider="{range: 'min'}" ui-slider use-decimals min="0" max="1.0" step="0.01" ng-model="player.audio.volume"></div>
        <p id="controls3" class="navbar-text navbar-left" ng-if="svc.authorized" ng-cloak>
            <a title="repeat" ng-click="player.toggleRepeat()" ng-class="{'pressed': player.repeat}"><i class="glyphicon glyphicon-repeat"></i></a>
            <a title="shuffle" ng-click="player.toggleRandom()" ng-class="{'pressed': player.random}"><i class="glyphicon glyphicon-random"></i></a>
        </p>
        <p class="navbar-text navbar-right" ng-if="svc.authorized" ng-cloak><i class="glyphicon glyphicon-user"></i> {{svc.userInfo.name}} <a ng-click="logout()">Sign out</a></p>
    </div>
</div>

<div ng-view></div>

</body>
</html>