<div id="player-wrapper" ng-class="{playing: !player.audio.paused, paused: player.audio.paused && player.state.currentRecord, stopped: !player.state.currentRecord}">
    <!--<div id="player">-->
        <!--<div id="player-controls">-->
            <!--<div id="buttons-col">-->
                <!--<a class="prev" title="Previous" ng-click="player.prev()"><i class="glyphicon glyphicon-step-backward"></i></a>-->
                <!--<a class="stop" title="Stop" ng-click="player.stop()"><i class="glyphicon glyphicon-stop"></i></a>-->
                <!--<a class="pause" title="Pause" ng-click="player.playPause()"><i class="glyphicon glyphicon-pause"></i></a>-->
                <!--<a class="play" title="Play" ng-click="player.playPause()"><i class="glyphicon glyphicon-play"></i></a>-->
                <!--<a class="next" title="Next" ng-click="player.next()"><i class="glyphicon glyphicon-step-forward"></i></a>-->
                <!--<a class="repeat" title="Repeat" ng-click="player.repeat()" ng-class="{'btn-pressed': player.state.repeat}"><i class="glyphicon glyphicon-repeat"></i></a>-->
                <!--<a class="random" title="Shuffle" ng-click="player.random()" ng-class="{'btn-pressed': player.state.random}"><i class="glyphicon glyphicon-random"></i></a>-->
                <!--<a class="mute" title="Mute" ng-click="player.mute()" ng-class="{'btn-pressed': player.audio.muted}"><i class="glyphicon" ng-class="{'glyphicon-volume-up': !player.audio.muted, 'glyphicon-volume-off': player.audio.muted}"></i></a>-->
            <!--</div>-->
            <!--<div id="volume-col">-->
                <!--<div id="volume" ui-slider="{range: 'min'}" ui-slider use-decimals min="0" max="1.0" step="0.01" ng-model="player.audio.volume"></div>-->
            <!--</div>-->
            <!--<div id="track-col">-->
                <!--<div id="track" ui-slider="{range: 'min'}" use-decimals min="0" max="{{player.audio.duration}}" step="0.01" ng-model="player.audio.currentTime"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div id="playlist-wrapper">
        <div id="playlist" droppable-playlist ng-keydown="keydown($event)">
            <div ng-if="player.state.loading" id="loading-label"><div>Loading...</div></div>
            <ul ng-class="{dragover: dragover}">
                <li droppable-item
                    ng-repeat="record in player.playlist"
                    ng-mousedown="mousedown($event, record)"
                    ng-dblclick="player.playRecord(record)"
                    ng-class="{current: record == player.state.currentRecord, selected: record.selected, dragover: record.dragover}">
                    <span><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i>&nbsp;{{record.node.item.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>