<script type="text/ng-template"  id="item.html">
    <div ng-class="{collapsed: item.collapsed}">
        <a ng-if="item.resourceType == 'dir'" ng-click="toggleDir(item)"><i class="glyphicon glyphicon-folder-close"></i></a>
        <i ng-if="item.resourceType != 'dir'" class="glyphicon glyphicon-file"></i>
        <span class="tree-label" ng-class="{selected: item.selected}" ng-mousedown="select($event, item)" ng-dblclick="play($event, item)">{{item.displayName}}</span>
        <ul ng-if="item.resourceType == 'dir'">
            <li ng-repeat="item in item.items" ng-include="'item.html'"></li>
        </ul>
    </div>
</script>

<ul class="tree">
    <li ng-repeat="item in items" ng-include="'item.html'" class="tree-item"></li>
</ul>