<!doctype html>
<html ng-controller="AppController" ng-app="app" ng-mousedown="mousedown()" ng-keydown="keydown($event)">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Cloud music player. Listen to music stored at your favorite cloud service. Anywhere." />
    <title ng-bind="page.title()">MQ Player - cloud music player</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/ico" />

    <!-- build:css css/lib.css -->
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.theme.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.slider.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- build:css css/app.css -->
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <!-- endbuild -->

    <base href="/">
</head>
<body ng-class="session.player.state">
<div class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#/"><i class="glyphicon glyphicon-headphones"></i><span>MQ Player</span></a>
        <player ng-if="session.active" ng-cloak></player>
        <ul class="nav navbar-nav navbar-right" ng-if="session.loggedIn()" ng-cloak>
            <!--<li class="playlists dropdown" ng-class="{open: isMenuWidgetOpen('playlistManager')}">-->
                <!--<a ng-click="toggleMenuWidget('playlistManager')"><i class="glyphicon glyphicon-align-justify"></i> Playlists <span class="caret"></span></a>-->
                <!--<div ng-include="'tmpl/playlistManager.html'" ng-if="isMenuWidgetOpen('playlistManager')" include-replace></div>-->
            <!--</li>-->
            <li class="accounts dropdown" ng-class="{open: isMenuWidgetOpen('accounts')}">
                <a ng-click="toggleMenuWidget('accounts')"><i class="glyphicon glyphicon-cloud"></i> Accounts <span class="caret"></span></a>
                <div ng-include="'partials/accounts.html'" ng-if="isMenuWidgetOpen('accounts')" include-replace></div>
            </li>
            <li><a href="#/help"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
            <li><a ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Quit</a></li>
        </ul>
    </div>
</div>

<div id="msg" ng-if="messageText" class="center" ng-class="{error: messageType == 'error'}" ng-mousedown="$event.stopPropagation()" ng-cloak>
    <div>
        <div class="icon" ng-switch="messageType">
            <span ng-switch-when="error" class="icon-warning-sign"></span>
            <span ng-switch-default class="icon-info-sign"></span>
        </div>
        <div class="text">{{messageText}}</div>
    </div>
</div>

<div ng-view></div>

<!-- build:js js/lib.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/slider/src/slider.js"></script>
<script src="bower_components/script.js/dist/script.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!--<script src="bower_components/bootstrap/js/dropdown.js"></script>-->
<!-- endbuild -->

<!-- build:js js/app.js -->
<script src="js/tools.js"></script>
<script src="js/polyfills.js"></script>
<script src="js/app.js"></script>
<script src="js/q.js"></script>
<script src="js/columnResizer.js"></script>
<script src="js/controllers/app.js"></script>
<script src="js/controllers/accounts-controller.js"></script>
<script src="js/controllers/playlist-manager-controller.js"></script>
<script src="js/controllers/playlist-controller.js"></script>
<script src="js/controllers/save-playlist-controller.js"></script>
<script src="js/controllers/home.js"></script>
<script src="js/controllers/openFromDrive.js"></script>
<script src="js/routing.js"></script>
<script src="js/types/playlist.js"></script>
<script src="js/types/record.js"></script>
<script src="js/types/player.js"></script>
<script src="js/types/tree.js"></script>
<script src="js/types/treeNode.js"></script>
<script src="js/types/item.js"></script>
<script src="js/types/clients/drive.js"></script>
<script src="js/types/clients/dropbox.js"></script>
<script src="js/types/playlist-manager.js"></script>
<script src="js/services/helper.js"></script>
<script src="js/services/page.js"></script>
<script src="js/services/session.js"></script>
<script src="js/services/clients.js"></script>
<script src="js/services/appData.js"></script>
<script src="js/services/api.js"></script>
<script src="js/directives/tree.js"></script>
<script src="js/directives/player.js"></script>
<script src="js/directives/resizebar.js"></script>
<script src="js/directives/draggable.js"></script>
<script src="js/directives/droppable.js"></script>
<script src="js/directives/includeReplace.js"></script>
<script src="js/services/playlist-service.js"></script>
<!-- endbuild -->

<!-- build:templates -->
<!-- templates script will be placed here -->
<!-- endbuild -->

<!--[if IE 9]>
<script src="js/ie9.js"></script>
<![endif]-->
</body>
</html>