<div id="text">
    <b>Music Queue</b> is a client side web player for your music stored in Google Drive. The only purpose of MQ is to
    provide the <b>private access to your</b> music resources stored in the Google Drive account.

    <br/><br/>

    <b>Features:</b>
    <ul id="features">
        <li><b>Tree navigation</b> - a handy way to find the albums and songs you want to listen to</li>
        <li><b>Customizable playlist</b> - combine the full albums or individual songs in the desired order</li>
        <li><b>Drag and drop</b> - simply drag the files or folders onto your playlist to enqueue them</li>
        <li><b>Access to the shared files</b> - listen to the music shared with you by others</li>
        <li><b>Basic shortcuts</b> - keyboard shortcuts to control basic functions</li>
        <li><b>No flash required</b> - pure HTML and Javascript</li>
    </ul>
    <br/>
</div>