<div id="text">
    <h3>About</h3>

    <b>Music Queue</b> is a client side web player for your music stored in Google Drive. The only purpose of MQ is to
    provide the <b>private access to your</b> music resources stored in the Google Drive account.

    <br/><br/>

    <b>Features:</b>
    <ul id="features">
        <li><b>Tree navigation</b> - a handy way to find the albums and songs you want to listen to</li>
        <li><b>Customizable playlist</b> - combine the full albums or individual songs in the desired order</li>
        <li><b>Drag and drop</b> - simply drag the files or folders onto your playlist to enqueue them</li>
        <li><b>Access to the shared files</b> - listen to the music shared with you by others</li>
        <li><b>Basic shortcuts</b> - keyboard shortcuts to control basic functions</li>
        <li><b>No flash required</b> - pure HTML and Javascript</li>
    </ul>
    <br/>

    <h3>Browser support</h3>

    <p>MQ is powered by HTML5 <b>&lt;audio&gt;</b> tag which means you'll need one of the modern browsers that support HTML5:</p>
    <table id="browsers">
        <tr class="br">
            <td></td>
            <td><span class="ie">Internet Explorer *</span></td>
            <td><span class="cr">Chrome</span></td>
            <td><span class="op">Opera</span></td>
            <td><span class="sa">Safari **</span></td>
            <td><span class="fx">Firefox</span></td>
            <td><span class="an">Android</span></td>
            <td><span class="ip">iOS</span></td>
        </tr>
        <tr>
            <td>HTML5 Support</td>
            <td class="yes"><span>9.0+</span></td>
            <td class="yes"><span>3.0+</span></td>
            <td class="yes"><span>10.5+</span></td>
            <td class="yes"><span>3.1+</span></td>
            <td class="yes"><span>3.5+</span></td>
            <td class="yes"><span>2.2+</span></td>
            <td class="yes"><span>3.0+</span></td>
        </tr>
        <tr>
            <td>MQ tested</td>
            <td class="yes"><span>9.0+</span></td>
            <td class="yes"><span>35.0</span></td>
            <td class="no"><span></span></td>
            <td class="no"><span></span></td>
            <td class="yes"><span>29.0+</span></td>
            <td class="no"><span></span></td>
            <td class="no"><span></span></td>
        </tr>
    </table>
    <br/>
    <p>
        *<b>Internet Explorer</b> users must add an exception to the Privacy settings to allow using cookies
        for the "google.com" domain:
        1) Go to Tools->Internet Options->Privacy->Sites
        2) Enter "google.com" and press "Allow" button.
    </p>
    <p>**<b>Safari</b> users must have Quick Time installed to enable HTML5 <b>&lt;audio&gt;</b> feature.</p>
    <p>Please, also note, to use MQ the Javascript must be enabled in your browser.</p>

    <br>
    <h3>Shortcuts</h3>
    <table id="shortcuts">
        <tr>
            <th><kbd>x</kbd></th>
            <td>Play</td>
        </tr>
        <tr>
            <th><kbd>c</kbd></th>
            <td>Play/pause</td>
        </tr>
        <tr>
            <th><kbd>mum 8</kbd></th>
            <td>Volume up</td>
        </tr>
        <tr>
            <th><kbd>mum 2</kbd></th>
            <td>Volume down</td>
        </tr>
        <tr>
            <th><kbd>num 4</kbd>, <kbd>←</kbd></th>
            <td>Play previous track</td>
        </tr>
        <tr>
            <th><kbd>num 6</kbd>, <kbd>→</kbd></th>
            <td>Play next track</td>
        </tr>
        <tr>
            <th><kbd>del</kbd></th>
            <td>Delete selected tracks from playlist</td>
        </tr>
        <tr>
            <th><kbd>m</kbd></th>
            <td>Mute</td>
        </tr>
        <tr>
            <th><kbd>r</kbd></th>
            <td>Repeat</td>
        </tr>
        <tr>
            <th><kbd>s</kbd></th>
            <td>Shuffle</td>
        </tr>
    </table>

    <br>
    <br>
    <h3>Contacts</h3>

    <p>Email: mqplayercom@gmail.com</p>
    <p>Twitter: <a href="https://twitter.com/mqplayer">@mqplayer</a></p>
</div>