<div id="text">
    <h4>Browser support</h4>

    <p>MQ is powered by HTML5 <b>&lt;audio&gt;</b> tag which means you'll need one of the modern browsers that support HTML5:</p>
    <table id="browsers">
        <tr class="br">
            <td></td>
            <td><span class="ie">Internet Explorer *</span></td>
            <td><span class="cr">Chrome</span></td>
            <td><span class="op">Opera</span></td>
            <td><span class="sa">Safari **</span></td>
            <td><span class="fx">Firefox</span></td>
            <td><span class="an">Android</span></td>
            <td><span class="ip">iOS</span></td>
        </tr>
        <tr>
            <td>HTML5 Support</td>
            <td class="yes"><span>9.0+</span></td>
            <td class="yes"><span>3.0+</span></td>
            <td class="yes"><span>10.5+</span></td>
            <td class="yes"><span>3.1+</span></td>
            <td class="yes"><span>3.5+</span></td>
            <td class="yes"><span>2.2+</span></td>
            <td class="yes"><span>3.0+</span></td>
        </tr>
        <tr>
            <td>MQ tested</td>
            <td class="yes"><span>9.0+</span></td>
            <td class="yes"><span>35.0</span></td>
            <td class="no"><span></span></td>
            <td class="no"><span></span></td>
            <td class="yes"><span>29.0+</span></td>
            <td class="no"><span></span></td>
            <td class="no"><span></span></td>
        </tr>
    </table>
    <br/>
    <p>
        *<b>Internet Explorer</b> users must add an exception to the Privacy settings to allow using cookies
        for the "google.com" domain:
        1) Go to Tools->Internet Options->Privacy->Sites
        2) Enter "google.com" and press "Allow" button.
    </p>
    <p>**<b>Safari</b> users must have Quick Time installed to enable HTML5 <b>&lt;audio&gt;</b> feature.</p>
    <p>Please, also note, to use MQ the Javascript must be enabled in your browser.</p>

    <br>
    <h4>Shortcuts</h4>
    <table id="shortcuts">
        <tr>
            <th><kbd>x</kbd></th>
            <td>Play</td>
        </tr>
        <tr>
            <th><kbd>c</kbd></th>
            <td>Play/pause</td>
        </tr>
        <tr>
            <th><kbd>mum 8</kbd></th>
            <td>Volume up</td>
        </tr>
        <tr>
            <th><kbd>mum 2</kbd></th>
            <td>Volume down</td>
        </tr>
        <tr>
            <th><kbd>num 4</kbd>, <kbd>←</kbd></th>
            <td>Play previous track</td>
        </tr>
        <tr>
            <th><kbd>num 6</kbd>, <kbd>→</kbd></th>
            <td>Play next track</td>
        </tr>
        <tr>
            <th><kbd>del</kbd></th>
            <td>Delete selected tracks from playlist</td>
        </tr>
        <tr>
            <th><kbd>m</kbd></th>
            <td>Mute</td>
        </tr>
        <tr>
            <th><kbd>r</kbd></th>
            <td>Repeat</td>
        </tr>
        <tr>
            <th><kbd>s</kbd></th>
            <td>Shuffle</td>
        </tr>
    </table>

    <br>
    <br>
    <h4>Contacts</h4>

    <p>Email: mqplayercom@gmail.com</p>
    <p>Twitter: <a href="https://twitter.com/mqplayer">@mqplayer</a></p>
</div>