<!doctype html>
<html ng-controller="AppController" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Music Player for Google Drive" />
    <title ng-bind="page.title()">Music Queue</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/ico" />

    <!-- build:css css/lib.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.theme.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.slider.css">
    <!-- endbuild -->
    <!-- build:css css/app.css -->
    <link rel="stylesheet" href="css/app.css"/>
    <!-- endbuild -->
</head>
<body ng-class="session.player.state">
<div class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#/"><i class="glyphicon glyphicon-headphones"></i><span>Music Queue</span></a>
        <player ng-if="session.active" ng-cloak></player>
        <ul class="nav navbar-nav navbar-right" ng-if="session.loggedIn()">
            <li class="accounts dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cloud"></i> Accounts <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="client in available" class="{{client.name}}">
                        <i></i>
                        <div>
                            <div class="button">
                                <button ng-if="!clients.isLoggedIn(client.name)" ng-click="login(client.name)">Login</button>
                                <button ng-if="clients.isLoggedIn(client.name)" ng-click="logout(client.name)">Logout</button>
                            </div>
                            <h4>{{client.title}}</h4>
                            <div ng-if="clients.isLoggedIn(client.name)">
                                <p class="username">{{clients[client.name].user.email || clients[client.name].user.name}} </p>
                                <p class="stats">5.82 GB (38%) of 15 GB used</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <!--<li><a href="#/about"><i class="glyphicon glyphicon-cog"></i>Settings</a></li>-->
            <li><a href="#/help"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
            <li><a ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Quit</a></li>
        </ul>
    </div>
</div>

<div ng-view></div>

<!-- build:js js/lib.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/slider/src/slider.js"></script>
<script src="bower_components/script.js/dist/script.js"></script>
<script src="bower_components/bootstrap/js/dropdown.js"></script>
<!-- endbuild -->

<!-- build:js js/app.js -->
<script src="js/tools.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/routing.js"></script>
<script src="js/types/playlist.js"></script>
<script src="js/types/record.js"></script>
<script src="js/types/player.js"></script>
<script src="js/types/tree.js"></script>
<script src="js/types/treeNode.js"></script>
<script src="js/types/item.js"></script>
<script src="js/types/clients/drive.js"></script>
<script src="js/types/clients/dropbox.js"></script>
<script src="js/services/helper.js"></script>
<script src="js/services/page.js"></script>
<script src="js/services/session.js"></script>
<script src="js/services/clients.js"></script>
<script src="js/services/settings.js"></script>
<script src="js/directives/tree.js"></script>
<script src="js/directives/player.js"></script>
<script src="js/directives/playlist.js"></script>
<script src="js/directives/resizeBar.js"></script>
<script src="js/directives/draggable.js"></script>
<script src="js/directives/droppable.js"></script>
<!-- endbuild -->

<!--[if lt IE 9]>

<![endif]-->

<!-- fix drag and drop missing for elements other than <a></a> in IE 9 -->
<!--[if IE 9]>
<script>
    $(document).on("selectstart", "[draggable]", function (e) {
        e.stopPropagation();
        e.preventDefault();
        this.dragDrop();
    });
</script>
<![endif]-->

</body>
</html>