<div id="playlist" ng-mousedown="mousedown($event)" droppable>
    <div id="playlist-menu-wrapper">
        <div id="playlist-menu">
            <a title="clear playlist (Ctrl+a, Del)" ng-click="clear()"><i class="glyphicon glyphicon-remove"></i></a>
            <a title="remove selected from playlist (Del)" ng-click="deleteSelected()"><i class="glyphicon glyphicon-trash"></i></a>
            <a title="save current playlist..."><i class="glyphicon glyphicon-floppy-disk"></i></a>
            <a title="open playlist..."><i class="glyphicon glyphicon-folder-open"></i></a>
        </div>
    </div>
    <div ng-if="playlist.loading" class="loading-label"><div><i class="glyphicon glyphicon-time"></i><span>Loading...</span></div></div>
    <div ng-if="!playlist.loading && playlist.records.length == 0" class="loading-label"><div><i class="glyphicon glyphicon-list"></i><span>Playlist is empty</span></div></div>
    <ul ng-class="{dragover: dragover}">
        <li draggable droppable
            ng-repeat="record in playlist.records"
            ng-mousedown="mousedown($event, record)"
            ng-mouseup="mouseup($event, record)"
            ng-dblclick="dblclick($event, record)"
            ng-class="{current: record == player.currentRecord, selected: record.selected, dragover: record.dragover}">
            <span><i class="glyphicon glyphicon-time"></i><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pause"></i>&nbsp;{{record.item.name}}</span>
        </li>
    </ul>
</div>