<div id="playlist-manager" ng-mousedown="mousedown($event)">
    <!--<h4>Playlists</h4>-->
    <div class="playlists">
        <ul>
            <li ng-repeat="(name, playlist) in playlists">
                <div>
                    <a class="name" ng-click="loadPlaylist(name)">{{name}}</a>
                </div>
                <a class="remove" ng-click="remove(name)" title="delete"><i class="glyphicon glyphicon-remove"></i></a>
            </li>
        </ul>
    </div>
    <div class="empty" ng-show="isEmpty()">No saved playlists</div>
    <div class="save input-group input-group-sm">
        <input type="text" class="form-control" ng-keydown="keydown($event)" ng-disabled="saveDisabled()" placeholder="save current playlist as..." maxlength="50" ng-model="saveName"/>
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="save(saveName)" ng-disabled="saveDisabled()">Save</button>
        </span>
    </div>
</div>