<script type="text/ng-template" id="node.html">
    <div ng-class="{collapsed: node.collapsed, 'shared': node.item.shared}">
        <a ng-if="node.item.isDir" ng-click="toggleDir(node)"><i class="glyphicon glyphicon-plus" ng-class="{'glyphicon-minus': !node.collapsed}"></i><i class="glyphicon glyphicon-folder-close" ng-class="{'glyphicon-folder-open': !node.collapsed}"></i></a>
        <i ng-if="!node.item.isDir" class="glyphicon glyphicon-file"></i>
        <span draggable class="tree-label" ng-class="{selected: node.selected}" ng-mousedown="mousedown($event, node)" ng-dblclick="dblclick($event, node)">{{node.item.name}}</span>
        <div ng-if="node.item.isDir && !node.collapsed && node.loading" class="loading">Loading...</div>
        <ul ng-if="node.item.isDir">
            <li ng-repeat="node in node.children" ng-include="'node.html'"></li>
        </ul>
    </div>
</script>

<div ng-if="loading" class="loading-label"><div><i class="glyphicon glyphicon-time"></i><span>Loading...</span></div></div>
<div ng-if="empty" class="loading-label"><div><i class="glyphicon glyphicon-file"></i><span>You have no files in your Google Drive</span></div></div>
<ul class="tree">
    <li ng-repeat="node in tree.roots" ng-include="'node.html'" class="tree-item"></li>
</ul>